<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/views/styles/general.css">
    </head>
    <body>
        <h1 class="badge bg-secondary">Identification</h1>

        @errors

        <form method="POST">
            <div>
                <label>Identifiant</label>
                <br>
                <input type="text", class="text", name="id">
            </div>
            <div>
                <label>Mot De Passe</label>
                <br>
                <input type="password", class="text", name="mdp">
            </div>
            <div>
                <input type="reset" class="reset" value="efface">
                <a href="/register"><input type="button" value="inscription"></a> 
				<input type="submit" class="submit" value="connecte">
            </div>
        </form>
    </body>
</html>