<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/views/styles/general.css">
    </head>
    <body>
        <div class="profil">
            
        </div>
        <div>
            <a href="ajoutRDV.html"><input type="button", value="ajouter", name="ajouter"></a>
            <input type="button", value="supprimer", name="supprimer">
        </div>
        <div class="rdv">
            <table>
                <tr>
                    <th>Titre</th>
                    <th>Lieu</th>
                    <th>Date Debut</th>
                    <th>Date Fin</th>
                </tr>
                <script>
                    //Liste des RDVS a récuperer en javascript
                </script>
            </table>
        </div>
    </body>
</html>